.modal{
  transition: 1s;
  background: white;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: apearence .5s forwards;
  h2{
    text-align: center;
  }
}

.card__actions{
  text-align: end;
}

@keyframes apearence {
  100%{
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 465px) {
  .modal{
    width: 80%;
  }
}